altair
annotated-types
appdirs
arrow
astor
asttokens
attrs
backcall
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
dacite
decorator
deta
distlib
duckdb
et-xmlfile
executing
filelock
fonttools
frozendict
gitdb
GitPython
html5lib
htmlmin
idna
ImageHash
importlib-metadata
ipython
ipywidgets
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyterlab-widgets
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
missingno
multimethod
multitasking
networkx
numpy
openpyxl
packaging
pandas
pandas_datareader
pandas-profiling
parso
patsy
peewee
phik
pickleshare
Pillow
pipenv
platformdirs
plotly
plotly-express
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pygwalker
Pympler
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
PyWavelets
PyYAML
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
six
smmap
soupsieve
sqlglot
stack-data
statsmodels
streamlit
streamlit_authenticator
streamlit-option-menu
streamlit-pandas-profiling
tangled-up-in-unicode
tenacity
tensorflow
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typeguard
typing_extensions
tzdata
tzlocal
urllib3
validators
virtualenv
visions
watchdog
wcwidth
webencodings
widgetsnbextension
wordcloud
ydata-profiling
yfinance
zipp
